<div data-controller='upload'>
  <input type="file" id="takout-file" data-upload-target='file' data-action='input->upload#fileLoaded'>
  <div class="chart-container" style="position: relative; height: 80vh">
    <canvas id="myChart" data-upload-target="chart" data-action='click->upload#clickHandler'></canvas>

  <h2 class="visually-hidden pt-4 pb-2" data-upload-target="tableTitle">Most emissive Trips</h2>
  <table class="table" data-upload-target='table'>
    <thead data-upload-target='tableHeader'>
    </thead>
    <tbody data-upload-target='tableBody'>
    </tbody>
  </table>
  </div>
