<div data-controller='upload' >
  <input type="file" id="takout-file" data-upload-target='file' data-action='input->upload#fileLoaded'>
  <canvas id="myChart" data-upload-target="chart"></canvas>
</div>
