<div data-controller='upload'>
  <input type="file" id="takout-file" data-upload-target='file' data-action='input->upload#fileLoaded'>
  <div class="chart-container" style="position: relative; height: 80vh">
    <canvas id="myChart" data-upload-target="chart" data-action='click->upload#clickHandler'></canvas>
  <table class="table" data-upload-target='table'>
    <thead data-upload-target='tableHeader'>
    </thead>
    <tbody data-upload-target='tableBody'>
    </tbody>
  </table>
  </div>
  <!-- Table -->

  <%# <div class="d-flex" data-upload-target='table'>
    <div class="overflow-x-auto mx-0.5">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full">
            <thead class="bg-white border-b" >
              <tr data-upload-target='tableHeaderRow'></tr>
            </thead>
            <tbody data-upload-target='tableBody'>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> %>
